body {
    margin: 8% 16% 8% 16%;
    font-family: Arial;
    font-size: 18px;
    color: #666666;
}

p {
    line-height: 2;
}

a {
    text-decoration: none;
    color: #6633cc;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    line-height: 2;
    margin: 0px;
}

h1 {
    font-size: 36px;
    color: #000000;
}

h2 {
    font-size: 24px;
    color: #333333;
}

h3 {
    font-size: 20px;
    color: #333333;
}

pre {
    background-color: #eeeeee;
    border: 1px solid #cccccc;
    color: #000000;
    padding: 16px;
    white-space: pre-line;
}
